.body-container{
    position: relative;
}
.waiting-screen{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(6, 104, 124, 0.46);
    z-index: 2;
    color: white;
}

.waiting-screen-turn{
    background: rgba(6, 104, 124, 0.16);
}

.wait-message-wrap{
    font-size: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    line-height: 50px;
    padding: 50px;
}


.game-div-wrapper{
    margin: auto;
    width: 600px;
    height: 600px;
    position: relative;
}

.play-box{
    float: left;
    width: 33%;
    height: 33%;
    border: 1px solid #EEE;
    text-align:center;
}

.box-unplayed:hover{
    border: 1px solid;
    background: #EEE;
}

.box-won{
    color: green;
}

.box-played-x{
    /*background: red;*/
}

.box-played-o{
    /*background: blue;*/
}

span.centered-vert-message{
    line-height: 490px;
}

span.centered-vert{
    line-height: 190px;
}
div.centered-vert-child{
    vertical-align:middle;
    display:inline-block;
}

.character-wrap{
    font-size: 150px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
}

.player-indicator{
    color: #DDD;
    font-weight: 100;
}

.turn-indicator{
    /*background-color: #CCC;*/
    color: #333;
    font-weight: 700;
}

.restart-game{
    margin: auto;
}